<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Output page</title>
</head>
<body>

	<table>
		<tr>
			<td>Enter user name:</td>
			<td>
				<h2 th:text=${userData.username}></h2>
			</td>
		</tr>

		<tr>
			<td>Enter email:</td>
			<td>
				<h2 th:text=${userData.email}></h2>
			</td>
		</tr>
	</table>

</body>
</html>